<h1>Список сеансов</h1>

<hr>
<div class='main'>
  <% @sessions.each do |session| %>
    <div>
      <%= link_to "#{session.movie.title}", session_path(session) %>
      <div>
        <span>Номер зала: <%= session.hall_number %></span>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<%= link_to "Назад", root_path, class: "button" %>
<%= link_to "Добавить новый сеанс", new_session_path, class: "button" %>