<h1>Список фильмов</h1>

<hr>
<div class='movies'>
  <% @movies.each do |movie| %>
    <div>
      <%= link_to "#{movie.title} (#{movie.release_date.strftime('%Y')})", movie_path(movie), class: "movie-link" %>
      <div>
        <span>Продолжительность: <%= movie.duration %> мин</span>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<%= link_to "Назад", root_path, class: "button" %>
<%= link_to "Добавить новый фильм", new_movie_path, class: "button" %>