<h1>Добро пожаловать в кинотеатр</h1>

<div class="tabs">
  <ul>
    <li><%= link_to 'Фильмы', movies_path %></li>
    <li><%= link_to 'Сеансы', sessions_path %></li>
    <li><%= link_to 'Залы', '#' %></li>
  </ul>
</div>